



<div style="background:#0B0C2A;">

  <!--_________LANDPAGE_____________-->
  <div class="container-fluid landPage">
    <div class="container-fluid shadowFinalpage">
      <!--_________NAVIGATION_____________-->
      <div class="container-fluid naviContainer">
        <div class="container containNavi ">

          <!--_____________________________MAX max-558px_____________________________-->
          <p class="maxWDisplay">Demon Slayer</p>

          <!--_____________________________WIDTH min-558px_____________________________-->
          <div class="row leftNaviClo">

            <!--______________________________LEFT NAVIGATION_____________________________________-->
            <div class="col-lg-6 col-12 leftNavi">

              <!--____________________LOGO IMG___________________________-->
              <div class="imgLogoDiv">
                <img src="/assets/landpage/logo.png" class="img-fluid imgLogo" />
              </div>
              
              <div class="characterDiv div1navi">
                <img src="/assets/landpage/22.png" class="img-fluid imgnaviF" /> 

                <div class="textNaviDiv">
                  <span style="color:white;text-shadow:0px 2px black;font-size:17px;
                  font-weight: 600;">Characters</span>
                </div>
              </div>


              <div class="characterDiv div2navi">
                <img src="/assets/landpage/11.png" class="img-fluid imgnaviF" /> 
                <div class="textNaviDiv">
                  <span style="color:white;text-shadow:0px 2px black;font-size:17px;
                  font-weight: 600;">Elements</span>
                </div>
              </div>

              <div class="characterDiv div3navi">
                <img src="/assets/landpage/33.png" class="img-fluid imgnaviF" /> 
                <div class="textNaviDiv">
                  <span style="color:white;text-shadow:0px 2px black;font-size:17px;
                  font-weight: 600;">Objective</span>
                </div>
              </div>
              
              <div class="characterDiv div4navi">
                <img src="/assets/landpage/44.png" class="img-fluid imgnaviF" /> 
                <div class="textNaviDiv">
                  <span style="color:white;text-shadow:0px 2px black;font-size:17px;
                  font-weight: 600;">Demons</span>
                </div>
              </div>

            </div>


            <!--______________________________RIGHT NAVIGATION_____________________________________-->
            <div class="col-lg-6 col-12 rightNavi">

              <div class="divImgR">
                <div class="textDR">
                  <span style="color:white;">Hokaio Station</span>
                </div>
                <img src="/assets/landpage/logoHokaio.png" class="img-fluid imgRLogo" />
              </div>

            </div>
          </div>

        </div>

      </div>
      <!--________________________________________Header_______________________________________-->
      <div class="container containHeader" style="margin-top:45px;">
        <div class="row">
          <div class="col-lg-5 col-md-12" style="display:flex;justify-content:center;align-items:center;">
            <div style="color:white;width:100%;">
              <div class="divCJAMA"><span class="titleC">Kimetsu no Yaiba</span></div>
              <div class="divCJAMA"><span class="titleJa">鬼滅の刃</span></div>
              <div class="divCJAMA"><span class="titleMa">Japanese Manga Series</span></div>
              <div class="divCJAMA">
                <button class="btn btn-primary btnMoreInfo">More Info</button>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-12" style="justify-content: center;display: flex;align-items: center;">
            <div>

              <div class="divSC">
                <div class="fDivSC">
                  <div>
                    <img src="/assets/landpage/logoCorps.png" class="img-fluid fluidUII" />
                  </div>
                  <div style="display:flex;align-items:center;">
                    <span class="seasonTHe">Seasons</span>
                  </div>
                </div>
              </div>

              <div style="justify-content: center;display: flex;">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12" style="padding:5px;">
                    <div class="imgSL">
                      <img src="/assets/landpage/season1.jpg" class="img-fluid imgClG"/>
                      <div class="nameDivS">
                        <div class="dmFDivs" style="margin-bottom: 11px;">
                          <span class="seasionT">
                            Season 1
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6 " style="padding:5px;">
                    <div class="imgSL">
                      <img src="/assets/landpage/season2.jpg" class="imgGCS"/>
                      <div class="nameDivS">
                        <div class="dmFDivs" style="margin-bottom: 11px;">
                          <span class="seasionT">
                            Season 2
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-6" style="padding:5px;">
                    <div class="imgSLMugen">
                      <img src="/assets/landpage/mugen.jpg" class="imgGCS"/>
                      <div class="nameDivS">
                        <div class="dmFDivs" style="margin-bottom: 15px;padding-right:10px;">
                          <span class="seasionT">
                            Kimetsu no Yaiba movie: Mugen Ressha-hen
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!--__________________________________CHARACTERS AND ELEMENTS_______________________________-->
  <div class="container-fluid charactersDiv">

    <div class="chracOn">
      <div class="fiChracOn">
        <div class="c1p">Demon slayer</div>
        <div class="c2p">Characters</div>
        <div class="c3p">Special characters that first seeing they’re skills will only cover on this page</div>
      </div>
    </div>

    <!--____________________________Characters__________________________________-->
    <div class="charactFD">
        <div class="charactersDivA">
        <div class="charactImageD">
          <div class="lineUP" *ngIf="srcConditionBool">
            <div class="selectionC">
              <div class="selectionFinalC">



                <!--____________________________NEGATIVE POSITION DIV________________________-->
                <div class="divBordCharct" style="cursor: pointer;" (click)="characterSelected(0)">
                  
                  <div class="imageC">
                    <img src="/assets/characters/tanjiroFace.jpg" class="img-fluid imgCharacFAC imgCharac0" 
                    [ngStyle]="{'box-shadow': (handleNumCharact == 0 ? 
                    '0px 5px 10px rgba(64, 41, 196, 0.755)':'0px 5px 5px rgba(0, 0, 0, 0.694)') }"/>
                  </div>

                  <div style="justify-content: center;display: flex;margin-top:5px"> 
                    <span style="text-align: center;font-weight: 500;">
                        Tanjiro
                    </span>
                  </div>

                  <div style="justify-content: center;display: flex;"> 
                    <span style="text-align: center;font-weight: bold;">
                        |
                    </span>
                  </div>

                  <div style="justify-content: center;display: flex;"> 
                    <div style="background:black;border-radius:50%;width:15px;height:15px;">

                    </div>
                  </div>
                </div>



                <!--____________________________POSITIVE POSITION DIV________________________-->
                <div class="divBordCharct2" style="cursor: pointer;" (click)="characterSelected(4)">
                  
                  <div style="justify-content: center;display: flex;"> 
                    <div style="background:black;border-radius:50%;width:15px;height:15px;"></div>
                  </div>

                  <div style="justify-content: center;display: flex;position:relative;top:-7px;"> 
                    <span style="text-align: center;font-weight: bold;">
                        |
                    </span>
                  </div>

                  <div class="imageC">
                    <img src="/assets/characters/giyuFace.png" class="img-fluid imgCharacFAC imgCharac4" 
                    [ngStyle]="{'box-shadow': (handleNumCharact == 4 ? 
                    '0px 5px 10px rgba(64, 41, 196, 0.755)':'0px 5px 5px rgba(0, 0, 0, 0.694)') }" />
                  </div>

                  <div style="justify-content: center;display: flex; margin-top:5px"> 
                    <span style="text-align: center;font-weight: 500;">
                        Giyu
                    </span>
                  </div>

                </div>




                <!--____________________________NEGATIVE POSITION DIV________________________-->
                <div class="divBordCharct" style="cursor: pointer;" (click)="characterSelected(1)">
                  
                  <div class="imageC">
                    <img src="/assets/characters/nezukoFace.jpg" class="img-fluid imgCharacFAC imgCharac1" 
                    [ngStyle]="{'box-shadow': (handleNumCharact == 1 ? 
                    '0px 5px 10px rgba(64, 41, 196, 0.755)':'0px 5px 5px rgba(0, 0, 0, 0.694)') }" />
                  </div>

                  <div style="justify-content: center;display: flex; margin-top:5px"> 
                    <span style="text-align: center;font-weight: 500;">
                        Nezuko
                    </span>
                  </div>

                  <div style="justify-content: center;display: flex;"> 
                    <span style="text-align: center;font-weight: bold;">
                        |
                    </span>
                  </div>

                  <div style="justify-content: center;display: flex;"> 
                    <div style="background:black;border-radius:50%;width:15px;height:15px;">

                    </div>
                  </div>
                </div>



                <!--____________________________POSITIVE POSITION DIV________________________-->
                <div class="divBordCharct2" style="cursor: pointer;" (click)="characterSelected(5)">
                  
                  <div style="justify-content: center;display: flex;"> 
                    <div style="background:black;border-radius:50%;width:15px;height:15px;"></div>
                  </div>

                  <div style="justify-content: center;display: flex;position:relative;top:-7px;"> 
                    <span style="text-align: center;font-weight: bold;">
                        |
                    </span>
                  </div>

                  <div class="imageC">
                    <img src="/assets/characters/shinobuFace.png" class="img-fluid imgCharacFAC imgCharac5" 
                    [ngStyle]="{'box-shadow': (handleNumCharact == 5 ? 
                    '0px 5px 10px rgba(64, 41, 196, 0.755)':'0px 5px 5px rgba(0, 0, 0, 0.694)') }" />
                  </div>

                  <div style="justify-content: center;display: flex; margin-top:5px"> 
                    <span style="text-align: center;font-weight: 500;">
                        Shinobu
                    </span>
                  </div>

                </div>





                <!--____________________________NEGATIVE POSITION DIV________________________-->
                <div class="divBordCharct" style="cursor: pointer;" (click)="characterSelected(2)">
                  
                  <div class="imageC">
                    <img src="/assets/characters/zenitsuFace.png" class="img-fluid imgCharacFAC imgCharac2" 
                    [ngStyle]="{'box-shadow': (handleNumCharact == 2 ? 
                    '0px 5px 10px rgba(64, 41, 196, 0.755)':'0px 5px 5px rgba(0, 0, 0, 0.694)') }"/>
                  </div>

                  <div style="justify-content: center;display: flex; margin-top:5px"> 
                    <span style="text-align: center;font-weight: 500;">
                        Zenitesu
                    </span>
                  </div>

                  <div style="justify-content: center;display: flex;"> 
                    <span style="text-align: center;font-weight: bold;">
                        |
                    </span>
                  </div>

                  <div style="justify-content: center;display: flex;"> 
                    <div style="background:black;border-radius:50%;width:15px;height:15px;">

                    </div>
                  </div>
                </div>



                <!--____________________________POSITIVE POSITION DIV________________________-->
                <div class="divBordCharct2" style="cursor: pointer;" (click)="characterSelected(6)">
                  
                  <div style="justify-content: center;display: flex;"> 
                    <div style="background:black;border-radius:50%;width:15px;height:15px;"></div>
                  </div>

                  <div style="justify-content: center;display: flex;position:relative;top:-7px;"> 
                    <span style="text-align: center;font-weight: bold;">
                        |
                    </span>
                  </div>

                  <div class="imageC">
                    <img src="/assets/characters/rengokuFace.png" class="img-fluid imgCharacFAC imgCharac6"
                    [ngStyle]="{'box-shadow': (handleNumCharact == 6 ? 
                    '0px 5px 10px rgba(64, 41, 196, 0.755)':'0px 5px 5px rgba(0, 0, 0, 0.694)') }" />
                  </div>

                  <div style="justify-content: center;display: flex; margin-top:5px"> 
                    <span style="text-align: center;font-weight: 500;">
                        Rengoku
                    </span>
                  </div>

                </div>


                <!--____________________________NEGATIVE POSITION DIV________________________-->
                <div class="divBordCharct" style="cursor: pointer;" (click)="characterSelected(3)">
                  
                  <div class="imageC">
                    <img src="/assets/characters/inosukeFace.png" class="img-fluid imgCharacFAC imgCharac3" 
                    [ngStyle]="{'box-shadow': (handleNumCharact == 3 ? 
                    '0px 5px 10px rgba(64, 41, 196, 0.755)':'0px 5px 5px rgba(0, 0, 0, 0.694)') }"/>
                  </div>

                  <div style="justify-content: center;display: flex;margin-top:5px"> 
                    <span style="text-align: center;font-weight: 500;">
                        Inosuke
                    </span>
                  </div>

                  <div style="justify-content: center;display: flex;"> 
                    <span style="text-align: center;font-weight: bold;">
                        |
                    </span>
                  </div>

                  <div style="justify-content: center;display: flex;"> 
                    <div style="background:black;border-radius:50%;width:15px;height:15px;">

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div *ngIf="!srcConditionBool" style="overflow:hidden;position: relative;">
            <div class="row" style="display: flex;justify-content: center;">
              <div *ngFor="let name of arrayNames;index as nameN" class="col-4">
                <div [ngClass]="['textNameClicked']" (click)="characterSelected(nameN)"
                [ngStyle]="{'background':(handleNumCharact != nameN ? 'rgb(230, 230, 230)':
                'rgb(19, 33, 45)'), 'cursor':'pointer'}">
                    <span [ngStyle]="{'color': (handleNumCharact != nameN ? 'black':'white'), 'font-size':'14px', 
                    'font-family':'roboto_regular'}">{{name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="container-fluid secondaryInfoC" *ngIf="srcConditionToText" >
          <div class="row">
            <div class="col-12" style="justify-content: center;display: flex;">
              <div style="display:inline-block;max-width:700px;">
                <p class="nameCharacts" >{{handleNameCharactS}}</p>
                <div>
                <div class="informationCharacts">{{handleInfoCharactS}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="highligDiv">
          <div class="characHighlight">
            <img src="" class="img-fluid imgGF imgCharact" />
          </div>
        </div>
        
        
        <p *ngIf="srcConditionToText" class="nameCharactSh">{{handleStyleCharactS}}</p>

      </div>
    </div>

    <!--____________________________Info Characters____________________________-->
    <div class="container-fluid firstInfoCharactC" *ngIf="!srcConditionToText" >
      <div class="row">
        <div class="col-6" style="justify-content: center;display: flex;">
          <div style="display:inline-block;max-width:700px;">
            <span style="font-family:rye;font-size:36px;">{{handleNameCharactS}}</span>
            <div>
            <div style="font-family:roboto_regular;font-size:16px;">{{handleInfoCharactS}}</div>
            </div>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>


    <!--____________________________Elements____________________________-->
    <div>

      <div class="container containerElements" >

        <!--Elements final-->
        <div>
          <div style="justify-content: center;display: flex;margin-bottom:50px;">
            <div style="display: inline-block;">
              <div style="justify-content: center;display: flex;">
                <span class="elementP1">Elements of Breathing Style</span>
              </div>
              <div style="justify-content: center;display: flex;">
                <p class="elementP2">
                  Breathing style that only came on the current show of demon slayer will only cover on this page
                </p>
              </div>
            </div>
          </div>
  
          <div class="elementDivsN">
            <div class="row">
              <!--___________________part of elements of 5______________________-->
              <div class="col-lg-6 col-md-6 col-12">

                  <div *ngIf="!elementWidthCon" style="margin-bottom:40px;">
                    <div class="row" style="justify-content: center;display: flex;">
                      <div class="col-4" style="padding:10px;" *ngFor="let loopNE of elementName; index as numE">
                        <div class="elementDivS" [ngStyle]="{'background': (elementSelected != numE ? 
                        'rgb(230, 230, 230)':'rgb(19, 33, 45)')}" 
                        (click)="elements(numE, (numE == 4 ? false:true))">
                          <span [ngStyle]="{'color':(elementSelected == numE ? 'white':'black'), 
                          'font-size':'14px', 'font-family': 'roboto_regular'}">
                            {{loopNE}}</span>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row p-5" *ngIf="elementWidthCon">
                    <!--____________4 elements_________-->
                    <div class="col-lg-6 col-md-6 col-sm-6" style="justify-content: center;display: flex;"
                    *ngFor="let elementsF of arrayElements; index as num">
                      <div style="display:inline-block;cursor: pointer;" (click)="elements(num, true)">
                        <div style="display: inline-block;max-width: 150px;">
                          <div style="justify-content: center;display: flex;">
                            <span style="font-weight:500;font-size:20px;">{{elementsF[1]}}</span>
                          </div>
                          <div style="justify-content: center;display: flex;">
                            <img [src]="elementsF[0]" class="img-fluid"
                             style="max-width:160px;max-height:160px;" />
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <!--____________Stone_________-->
                    <div class="col-12" style="justify-content: center;display: flex;">
                      <div style="display: inline-block;max-width: 150px;cursor: pointer;" (click)="elements(4, false)" >
                        <div style="justify-content: center;display: flex;">
                          <img src="/assets/elements/stoneF.png" class="img-fluid" style="max-width:160px;max-height:160px;"  />
                        </div>
  
                        <div style="justify-content: center;display: flex;">
                          <span style="font-weight:500;font-size:20px;">Stone</span>
                        </div>
                      </div>
                    </div>
  
                  </div>
              </div>
  
              <!--___________________Information of elementns___________________-->
              <div class="col-lg-6 col-md-6 col-12">
                <!--Elements information-->
                <div>
                  <p style="font-size:25px;font-family:roboto;">{{ElementsTitleStyle}}</p>
                  <span class="infoElement">{{ElementsInfoStyle}}</span>
                </div>
  
                <!--Known user-->
                <div style="margin-top:15px;">
                  <p style="font-size:20px;font-family:roboto;">Known users</p>
                    <div style="display:inline-block;" *ngFor="let userK of arrayUsersElements">
                      <span style="font-weight:500;font-size:16px;">
                        <span style="padding-left:10px;padding-right:10px;">•</span>{{userK}}</span>
                    </div>
                </div>
  
                <!--Other related-->
                <div style="margin-top:15px;">
                  <p style="font-size:20px;font-family:roboto;">Other related elements</p>
                  <div style="display: flex;">
  
                    <div *ngFor="let relatedO of arrayOtherElements; index as numCountB">
                      <div style="display: inline-block;max-width:140px;">
  
                        <div *ngIf="relatedO[0] !== ''">
                          <div>
                            <img [src]="relatedO[0]" [ngClass]="['img-fluid', 'relatedBreath'+numCountB, 'otherRIE']"/>
                          </div>
                          <div style="display: flex;justify-content: center;">
                            <p class="pElementOthers">{{relatedO[1]}}</p>
                          </div>
                        </div>
                      </div>
  
                      <div *ngIf="relatedO[0] === ''">
                        <span style="font-weight:500;font-size:16px;">
                          <span style="padding-left:10px;padding-right:10px;">•</span>No other related elements</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
  
        <!--End of elements-->
      </div>
    </div>
  </div>

   <!--____________________________Objective____________________________-->
   <div clas="container-fluid" style="background:#0B0C2A;">
    <div class="container objectiveContainer">
      <div class="row">
        <div class="col-lg-8">
          <div style="margin-top:40px;">
            <p class="objectiveTitleP">Objective of Demon Slayers</p>
            
            <!--Objective face image-->
            <div class="objectiveSelection">

              <div style="margin-right:10px;cursor: pointer;" *ngFor="let imageOF of objectiveImageF; index as numO"> 
                <div (click)="objectiveClicked(numO)">
                  <img [src]="imageOF"  class="img-fluid imgObjective" />
                </div>
              </div>
              
            </div>

            <!--Infomation objective-->
            <p class="nameSelectOb">{{objectiveName}}</p>
            <span class="obTOB">Objective goal:</span>
            <p class="infoObSelected">{{objectiveInfo}}</p>
            
            <!--Video-->
            <iframe class="videoObjective" [src]="objectiveLink"></iframe>
          </div>
        </div>
        <div class="col-lg-4" style="overflow: hidden;position: relative;">
          <img src="/assets/objective/imageOb.png" class="img-fluid" style="min-height:100%;" *ngIf="imageOWidthCon" />
        </div>
      </div>
    </div>
  </div>


  <!---____________________________Demons____________________________-->
  <div class="container-fluid" class="demonFC">
    <div class="container demonsDivContain">

    <div class="row">
      <div class="col-lg-6 col-12">
        <div style="justify-content: center;display: flex;">
          <div style="max-width:100%;display: inline-block;margin-bottom:20px;">
            <p class="becomeDP">How did Muzan become a Demon</p>
            <p class="muzanTr">Muzan became a demon because of the incomplete treatment he received from a generous doctor. His doctor was trying to save him from dying due to an unknown mortal disease. However, Muzan ends up killing the doctor.

            <br /><br />First let’s see who Muzan really was. He was a young frail boy born with a sickness. He was informed that he wouldn’t live to be even 20. The medicines then did nothing to cure him. Later on a doctor visited him claiming to have a medicine which can cure him. Desperate to live, Muzan took that medicine but his health didn’t improve soon.
            </p>
            <button class="btn btn-primary learnMorBtn">Learn more</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="row">
          <div class="col-12">
            <p class="demonsP">Upper moon demons</p>
          </div>
          <div class="col-12">
            <div class="display:inline-block">
              <div style="padding:10px;display:flex;justify-content: center;">
                <img src="/assets/Demon/upperMoon.jpg" class="img-fluid imgsrcDe" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>

  <!---____________________________Ending____________________________-->
  <div class="endDiv">
    <div style="display: flex;align-items: center;margin-top: 10px;margin-bottom: 10px;">
      <div>
        <div style="display: flex;justify-content: center;">
          <img src="/assets/landpage/logoHokaio.png" class="img-fluid imgLogoHo" />
        </div>
        <span class="pHokaio">Hokaio station - UI Web Design</span>
      </div>
    </div>
  </div>
</div>




